<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.picture.dao.ImageMapper">

<!-- addImages -->
    <insert id="addImages" parameterType="list" useGeneratedKeys="true" keyProperty="imageId">
        insert into image (
            id, imageName, imageSize, imageSite, imageDesc, imageUrL, compressUrL, imageDate
        ) values
        <foreach collection="imageList" item="item" index="index" separator=",">
            (
                null,   <!-- 自增主键 -->
                #{item.imageName},
                #{item.imageSize},
                #{item.imageSite},
                #{item.imageDesc},
                #{item.imageUrL},
                #{item.compressUrL},
                #{item.imageDate}
            )
        </foreach>
    </insert>

<!--    addImageType -->
    <insert id="addImageType" useGeneratedKeys="true">
        insert into image_type(id, imageId, imageType) values
        <foreach collection="imageIds" item="id" index="index" separator=",">
            (
                null,
                #{id},
                #{imageType}
            )
        </foreach>
    </insert>

    <insert id="addImageTypes" useGeneratedKeys="true">
        INSERT INTO image_type(id, imageId, imageType)
        VALUES
        <foreach collection="imageTypes" item="item" separator=",">
            (null, #{imageId}, #{item.value})
        </foreach>
    </insert>

    <update id="updateImage">
        UPDATE image
            SET imageSite = #{imageSite},
                imageDesc = #{imageDesc}
        WHERE id = #{imageId}
    </update>
    
    <select id="selectAllImageTime" resultType="Date" parameterType="Integer">
        SELECT DISTINCT imageDate
        FROM image
        WHERE id IN (
            SELECT imageId
            FROM user_image
            WHERE userId = #{userId}
        )
        AND imageDate IS NOT NULL
        ORDER BY imageDate DESC
    </select>

    <select id="selectAllImageType" resultType="String" parameterType="Integer">
        SELECT DISTINCT imageType
        FROM image_type
        WHERE imageId IN (
            SELECT imageId
            FROM user_image
            WHERE userId = #{userId}
        )
        AND imageType IS NOT NULL
        ORDER BY CONVERT(imageType USING gbk) ASC
    </select>

    <resultMap id="ImageResultMap" type="com.picture.domain.Image">
        <result property="imageId" column="id"/>
    </resultMap>

    <select id="selectAllImage" resultMap="ImageResultMap" parameterType="Integer">
        SELECT *
        FROM image
        WHERE id IN (
            SELECT imageId
            FROM user_image
            WHERE userId=#{userId}
            )
    </select>

    <select id="selectImageCount" resultType="Integer" parameterType="Integer">
        SELECT COUNT(*)
        FROM image
        WHERE id In (
            SELECT imageId
            FROM user_image
            WHERE userId=#{userId}
            )
    </select>

    <select id="selectImageByType" resultMap="ImageResultMap" parameterType="map">
        SELECT DISTINCT i.*
        FROM image i
        JOIN user_image ui ON i.id = ui.imageId
        JOIN image_type it ON i.id = it.imageId
        WHERE ui.userId = #{userId} AND it.imageType = #{imageType}
    </select>

    <select id="selectImageCountByType" resultType="Integer" parameterType="map">
        SELECT COUNT(*)
        FROM image i
                 JOIN user_image ui ON i.id = ui.imageId
                 JOIN image_type it ON i.id = it.imageId
        WHERE ui.userId = #{userId} AND it.imageType = #{imageType}

    </select>

    <select id="selectImageByTime" resultMap="ImageResultMap" parameterType="map">
        SELECT DISTINCT i.*
        FROM image i
            JOIN user_image ui ON i.id = ui.imageId
        WHERE ui.userId = #{userId} AND i.imageDate = #{imageDate}
    </select>

    <select id="selectImageCountByTime" resultType="Integer" parameterType="map">
        SELECT COUNT(*)
        FROM image i
            JOIN user_image ui ON i.id = ui.imageId
        WHERE ui.userId = #{userId} AND i.imageDate = #{imageDate}
    </select>

    <delete id="deleteImageType" parameterType="list">
        DELETE FROM image_type
        WHERE imageId IN
            <foreach collection="imageIds" item = "id" open="(" separator="," close=")">
                #{id}
            </foreach>
    </delete>
    
    <delete id="deleteImage" parameterType="list">
        DELETE FROM image 
        WHERE id IN
            <foreach collection="imageIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
    </delete>

    <select id="selectImageByIds" resultMap="ImageResultMap">
        SELECT imageUrL, compressUrL
        FROM image
        WHERE id IN
        <foreach collection="imageIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>